/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  background: -webkit-gradient(linear, center top, center bottom, from(#00a060), to(#0060a0));
  background: -webkit-linear-gradient(#00a060, #0060a0);
  background: -moz-linear-gradient(#00a060, #0060a0);
  background: -o-linear-gradient(#00a060, #0060a0);
  background: -ms-linear-gradient(#00a060, #0060a0);
  background: linear-gradient(#00a060, #0060a0);

  color: #ffffff;
}

.card {
  color: #000000;
}


.BodyElement {
    background-color : #313131;
    border-radius: 5px;
    box-shadow: 0 2px 2px #101010;
    color: #F1F1F1;
    margin: 10px 0;
    padding: 10px;
}

h1 {
    margin: 5px auto;
    text-shadow: 0 2px 2px #101010;
}

h2 {
    text-align: center;
    margin: 5px auto;
    text-shadow: 0 2px 2px #101010;
}

h3 {
    margin: 5px auto;
    text-shadow: 0 2px 2px #101010;
}

.BodyElement p {
    margin: 5px 20px;
    font-size: 100%;
}