/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  background: linear-gradient(#00a060, #0060a0);
  background: -webkit-linear-gradient(#00a060, #0060a0);
  background: -o-linear-gradient(#00a060, #0060a0);
  background: -moz-linear-gradient(#00a060, #0060a0);
  background: linear-gradient(#00a060, #0060a0);

  color: #bbbbbb;
}
